@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
      --background: 180 10% 96%;
      --foreground: 187 100% 19%;
      --muted: 180 12% 90%;
      --muted-foreground: 180 12% 30%;
      --popover: 180 10% 93%;
      --popover-foreground: 187 100% 9%;
      --card: 180 10% 94%;
      --card-foreground: 187 100% 14%;
      --border: 0 0% 91%;
      --input: 0 0% 88%;
      --primary: 187 100% 34%;
      --primary-foreground: 0 0% 100%;
      --secondary: 187 30% 75%;
      --secondary-foreground: 187 30% 15%;
      --accent: 180 10% 81%;
      --accent-foreground: 180 10% 21%;
      --destructive: 4 86% 41%;
      --destructive-foreground: 0 0% 100%;
      --ring: 187 100% 34%;
      --chart-1: 187 100% 34%;
      --chart-2: 187 30% 75%;
      --chart-3: 180 10% 81%;
      --chart-4: 187 30% 78%;
      --chart-5: 187 103% 34%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 180 10% 96%;
      --foreground: 187 100% 19%;
      --muted: 180 12% 90%;
      --muted-foreground: 180 12% 30%;
      --popover: 180 10% 93%;
      --popover-foreground: 187 100% 9%;
      --card: 180 10% 94%;
      --card-foreground: 187 100% 14%;
      --border: 0 0% 91%;
      --input: 0 0% 88%;
      --primary: 187 100% 34%;
      --primary-foreground: 0 0% 100%;
      --secondary: 187 30% 75%;
      --secondary-foreground: 187 30% 15%;
      --accent: 180 10% 81%;
      --accent-foreground: 180 10% 21%;
      --destructive: 4 86% 41%;
      --destructive-foreground: 0 0% 100%;
      --ring: 187 100% 34%;
      --chart-1: 187 100% 34%;
      --chart-2: 187 30% 75%;
      --chart-3: 180 10% 81%;
      --chart-4: 187 30% 78%;
      --chart-5: 187 103% 34%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
